/* ------------------------------------------ Site wide settings */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ------------------------------------------ Site wide colors and styling */
.font-color-red {
  color: #f44336;
}

.font-color-white {
  color: #fafafa;
}

.font-color-grey {
  color: #616161;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.mark-white {
  background-color: #fafafa;
}

.mark-black {
  background-color: #090c17;
}



/* ------------------------------------------ Full width carousel */
.carousel-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.spotify-element {
  margin-left: 54vw;
  position: fixed;
  top: 400px; /* setting div fixed at normal position */

}
.moving-element img {
  transform:translateY(-400px); /* pushing img up to bottom carousel */

}


.moving-element {
  margin-left: 15vw;
  position: fixed;
  top: 600px; /* setting div fixed at normal position */

  /* Standard CSS */
  animation-name: moving-frans;
  animation-duration: 3s;
  animation-fill-mode: forwards;

  /* Chrome, Safari, Opera */
  -webkit-animation-name: moving-frans;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;

}
  /* Standard CSS */
  @keyframes moving-frans {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
    }
  }

  /* Chrome, Safari, Opera */
    @-webkit-keyframes moving-frans {
    0% {
    transform: scale(0.1);
    opacity: 0;
    }
    100% {
    transform: scale(1);
  }
}

.carousel-caption {
  padding-bottom: 300px;
  padding-left: 25%;
}

.carousel-caption 
h2,
h3 {
  text-align: left;
}


.carousel-caption mark {
  background-color: #fafafa; 
}

